{{> header_footer/header}}

<div class="row">
	<div class="col-md-4">
		{{> burger/ordered}}
	</div>
	<div class="col-md-4 picborder">
		{{> showImg/burgerImg}}
		{{allform/createform}}
	</div>
	<div class="col-md-4">
		<ul>
  {{#each burgers}}
  	{{#if this.devoured}}
     <li>
        {{this.burger_name}}
      </li> 
    {{/if}}
  {{/each}}
</ul>
		{{> burger/devoured}}
	</div>
</div>